{% extends 'base.html' %}

{% block content %}
<div class="perfil">
    <h1>Perfil de {{ usuario.username }}</h1>
    {% if usuario.email %}
        <p><strong>Email:</strong> {{ usuario.email }}</p>
    {% endif %}

    <h2>Tipo de cuenta:</h2>
    {% if es_artista %}
        <p>Eres un <strong>Artista</strong>.</p>
    {% elif es_comprador %}
        <p>Eres un <strong>Comprador</strong>.</p>
    {% endif %}

    <h2>Opciones disponibles:</h2>
    <ul>
        {% if es_artista %}
            <li><a href="{% url 'subir_obra' %}">Subir una obra</a></li>
        {% endif %}
        {% if es_comprador or es_artista %}
            {% comment %} <li><a href="{% url 'obras_favoritas' %}">Ver obras favoritas</a></li> {% endcomment %}
            {% comment %} <li><a href="{% url 'artistas_favoritos' %}">Ver artistas favoritos</a></li> {% endcomment %}
        {% endif %}
    </ul>

    <h2>Obras favoritas:</h2>
    {% if obras_favoritas %}
        <ul>
        {% for obra in obras_favoritas %}
            <li>{{ obra.titulo }} - {{ obra.precio }}$</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No tienes obras favoritas.</p>
    {% endif %}

    <h2>Artistas favoritos:</h2>
    {% if artistas_favoritos %}
        <ul>
        {% for artista in artistas_favoritos %}
            <li>{{ artista.nombre }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No tienes artistas favoritos.</p>
    {% endif %}
</div>
{% endblock %}
